@import 'tailwindcss';

/* ===== Typography System ===== */
@utility text-d1-bold {
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}

@utility text-d2-bold {
  font-size: 32px;
  font-weight: 700;
  line-height: 145%;
}

@utility text-h1-bold {
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
}

@utility text-h2-bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

@utility text-h3-bold {
  font-size: 22px;
  font-weight: 700;
  line-height: 140%;
}

@utility text-h4-bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 135%;
}

@utility text-h1-semibold {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
}

@utility text-t1-bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 125%;
}

@utility text-t2-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
}

@utility text-t3-bold {
  font-size: 15px;
  font-weight: 700;
  line-height: 125%;
}

@utility text-t4-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 125%;
}

@utility text-s1-semibold {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}

@utility text-s2-semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
}

@utility text-s3-semibold {
  font-size: 15px;
  font-weight: 600;
  line-height: 120%;
}

@utility text-s4-semibold {
  font-size: 14px;
  font-weight: 600;
  line-height: 125%;
}

@utility text-s5-semibold {
  font-size: 13px;
  font-weight: 600;
  line-height: 125%;
}

@utility text-b1-medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 125%;
}

@utility text-b2-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
}

@utility text-b3-medium {
  font-size: 15px;
  font-weight: 500;
  line-height: 125%;
}

@utility text-b4-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 125%;
}

@utility text-b5-medium {
  font-size: 13px;
  font-weight: 500;
  line-height: 125%;
}

@utility text-b6-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 125%;
}

@utility text-b7-medium {
  font-size: 11px;
  font-weight: 500;
  line-height: 125%;
}

@utility text-c1-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

@utility text-c2-medium {
  font-size: 11px;
  font-weight: 500;
  line-height: 140%;
}

@utility text-c3-medium {
  font-size: 10px;
  font-weight: 500;
  line-height: 140%;
}

@utility text-c1-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}

@utility text-c2-regular {
  font-size: 11px;
  font-weight: 400;
  line-height: 140%;
}

@utility text-c3-regular {
  font-size: 10px;
  font-weight: 400;
  line-height: 140%;
}

@utility text-p1-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

@utility text-p2-medium {
  font-size: 15px;
  font-weight: 500;
  line-height: 140%;
}

@utility text-p3-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

@utility text-p4-medium {
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
}

@utility text-p1-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

@utility text-p2-regular {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

@utility text-p3-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

@utility text-p4-regular {
  font-size: 13px;
  font-weight: 400;
  line-height: 140%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
